# Setuphelfer Rettungsstick GRUB entries (appended to generated grub.cfg)
menuentry "Setuphelfer Rettung starten" {
	linux /live/vmlinuz boot=live components init=/lib/systemd/systemd setuphelfer_rescue=1 setuphelfer_start_assistant=1
	initrd /live/initrd.img
}
menuentry "Setuphelfer Rettung mit Netzwerk-Assistent" {
	linux /live/vmlinuz boot=live components init=/lib/systemd/systemd setuphelfer_rescue=1 setuphelfer_network_onboarding=1 setuphelfer_start_assistant=1
	initrd /live/initrd.img
}
menuentry "Setuphelfer MSI/NVIDIA-Kompatibilitaetsmodus" {
	linux /live/vmlinuz boot=live components init=/lib/systemd/systemd setuphelfer_rescue=1 pci=noaer nomodeset setuphelfer_msi_compat=1
	initrd /live/initrd.img
}
menuentry "Setuphelfer Diagnosemodus ohne Aenderungen" {
	linux /live/vmlinuz boot=live components init=/lib/systemd/systemd setuphelfer_rescue=1 setuphelfer_diagnose=1 systemd.log_level=debug
	initrd /live/initrd.img
}
menuentry "Setuphelfer Start in RAM / Media-Check" {
	linux /live/vmlinuz boot=live components toram init=/lib/systemd/systemd setuphelfer_rescue=1 setuphelfer_media_check=1
	initrd /live/initrd.img
}
